<%= turbo_stream.remove("new_input_phone_#{@id}") %>

<%= turbo_stream.replace 'actions_form_phone_btn' do %>
  <div id='actions_form_phone_btn' class="my-5">
    <%= link_to  "+", add_form_phone_path(qtd: @id - 1), data: { turbo_method: :put }, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to  "-", remove_form_phone_path(qtd: @id - 1), data: { turbo_method: :put }, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
<% end %>


